{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-unused-vars": "warn"
  }
}