.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #bfa181;
}

.text {
  margin: 0;
}

.remove-button {
  padding: 4px;
  display: flex;
  border-radius: 4px;
  border: none;
  background: #ff6900;
}

.remove-button span {
  font-size: 1.4rem;
  align-items: center;
  color: #efefef;
  font-weight: 700;
}
