body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  background: #061624;
}
.App {
  text-align: center;
}

.main-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2rem;
  color: #ff6900;
}
.list {
  padding-left: 0;
  max-width: 70vw;
  margin: 0 auto;
  margin-top: 2rem;
}

@media screen and (min-width: 780px) {
  .list {
    max-width: 40vw;
  }
}
